body.oscuro {
  background-color: #171717;
  color: white; }
  body.oscuro .modal-content {
    background-color: #171717;
    color: white; }

.carousel {
  z-index: 0; }

.navbarspace {
  height: 50px; }

.container-fluid {
  position: sticky;
  top: 0;
  z-index: 1; }

.navbar {
  background-color: orange; }
  body.oscuro .navbar {
    background-color: #030353; }

.ul {
  justify-content: space-evenly; }

.nav-link {
  color: white;
  font-size: 25px; }

.navbar-toggler {
  margin-right: 20px; }
  .navbar-toggler-icon {
    width: 35px;
    height: 35px;
    padding: 10px; }

.nav-item a:hover {
  color: white;
  text-decoration: underline; }

.header,
.row {
  padding: 0; }

.container-fluid {
  padding: 0;
  margin: 0;
  width: 100%; }

.font-navbar {
  font-size: 30px;
  font-family: open sans, sans-serif; }

.navbar-brand {
  padding: 10px; }

.switch {
  background-color: darkblue;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: orangered;
    color: black; }
    .switch.active::after {
      right: 0;
      left: unset; }

.icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff; }

.title {
  text-align: center;
  background-color: orange;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
  padding: 15px;
  margin-bottom: 50px; }
  body.oscuro .title {
    background-color: #000015; }

.boton {
  background-color: lightblue;
  border: 2px solid #83bfd3;
  border-radius: 5px;
  margin-top: 10px; }

.eliminarProducto {
  background-color: lightblue;
  border: 2px solid #83bfd3;
  border-radius: 50%; }

.dropdown_ordenar, .dropdown_filtrar {
  width: 30%;
  height: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; }

.dropdown_ordenar {
  margin-left: 15%; }

.dropdown_filtrar {
  margin-left: 2%; }

.container, .container_juegosgratis {
  display: flex;
  flex-wrap: wrap;
  margin: auto; }

.container__card {
  padding: 10px;
  border: 5px solid orange;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  body.oscuro .container__card {
    border: 3px solid white; }

.container__card__imagen__carrito {
  width: 100px;
  height: 30px; }

.imagen__carrito {
  width: 100%;
  height: auto; }

.total {
  font-size: 30px; }

.oferta {
  color: white;
  background-color: green; }

form {
  margin-left: 40px; }

input {
  width: 50%;
  padding: 12px;
  border: 3px solid orange;
  border-radius: 4px;
  resize: vertical; }
  body.oscuro input {
    border: 3px solid #000015;
    color: white; }

label {
  padding: 12px 12px 12px 0;
  display: inline-block; }

form {
  width: 700px;
  display: inline-block; }

.formcontainer {
  clear: both;
  margin: 0 auto;
  padding: 15px; }

.formcontainer input {
  width: 100%;
  clear: both;
  border-radius: 15px; }

.formcontainer textarea {
  width: -webkit-fill-available;
  border-radius: 15px; }

input[type=submit] {
  background-color: orange;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 15px; }
  body.oscuro input[type=submit] {
    background-color: #000015; }

#gmap {
  width: 800px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px; }

iframe {
  border: 10px solid;
  border-color: lightblue;
  float: right;
  width: 400px;
  height: 400px;
  border-radius: 15px; }

footer {
  background-color: orange;
  padding: 10px;
  width: 100vw;
  margin: 0;
  bottom: 0;
  text-align: center; }
  footer a {
    text-decoration: none;
    color: white; }
  body.oscuro footer {
    background-color: #000015; }

.footer-element {
  width: 0%; }

.footer-down {
  position: absolute; }

.iconos_footer {
  color: white;
  font-size: 30px;
  font-family: open sans, sans-serif; }
  .iconos_footer i {
    margin: 20px; }
  .iconos_footer a {
    color: white; }
  .iconos_footer a:hover {
    text-decoration: underline; }

.texto_footer {
  font-size: 20px;
  margin-right: 20px;
  text-transform: lowercase; }

.eliminarProducto {
  width: 40px;
  height: 40px; }

.boton_vaciar {
  margin-right: 150px; }
